@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
}

.content {
    width: 1600px;
    height: 488.5px;
    box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
}
table td {
    padding: 0;
}


@layer base {
    @font-face {
        font-family: 'Helvetica';
        src: url(/assets/fonts/helvetica/Helvetica-Bold.ttf);
        font-weight: bold;
    }

    @font-face {
        font-family: 'Helvetica';
        src: url(/assets/fonts/helvetica/Helvetica-Normal\ Regular.ttf);
        font-weight: normal;
    }
}

